.mw__container {
  width: 30em; }

.mw__content {
  padding: 10px 20px; }

.mw__content__scrollable {
  margin-top: 10px;
  max-height: 70vh; }

.mw__footer {
  padding: 10px 20px; }

.mw__wrapper {
  user-select: none; }
  .mw__wrapper .js-m-draggable {
    cursor: url("data:image/vnd.microsoft.icon;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAA//AAAd/wAAGf+AAAH9gAADbYAAA2yAAAZsAAAGbAAAAGAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//4AB//8AAf//AAD//5AA///gAP//4AD//8AF///AB///5A////5///8="), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab; }
  .mw__wrapper.mw-move,
  .mw__wrapper.mw-move .js-m-draggable {
    cursor: url("data:image/vnd.microsoft.icon;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAAH/AAAB/wAAA/0AAANsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//+AB///wAf//4AH//+AD///yT/////////////////////////////8="), all-scroll;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing; }

/* Background */
.mw__background {
  background: transparent; }

/* Container */
.mw__container {
  box-shadow: .1em .1em .5em #666;
  background: #fff;
  border-radius: 3px; }

/* Content */
.mw__header {
  background: #3c3c3c;
  color: #fff;
  text-align: center;
  border-radius: 3px 3px 0 0; }

.mw__header-close {
  cursor: pointer; }

.mw__footer {
  background: #fff;
  border-radius: 0 0 3px 3px; }
  .mw__footer:not(.has-no-border) {
    border-top: solid 1px #ccc; }

.mw__footer-with-message-mcontainer {
  text-align: center; }

.mw__content {
  background: #fff; }
  .mw__content .iScrollVerticalScrollbar {
    background: #ededed; }

.mw--open > .mw__background {
  background: rgba(0, 0, 0, 0.3); }

.mw__background {
  transition: background 300ms; }

.mw--open > .mw__container {
  animation: mw__container--open ease 300ms;
  animation-iteration-count: 1;
  transform-origin: 50% 50% 50%; }

.mw--close > .mw__container {
  animation: mw__container--close ease 300ms;
  animation-iteration-count: 1;
  transform-origin: 50% 50% 50%;
  animation-fill-mode: forwards; }

@keyframes mw__container--open {
  0% {
    opacity: 0;
    transform: translate(0, -25px); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes mw__container--close {
  0% {
    opacity: 1;
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    transform: translate(0, 25px); } }
